# Dependency directories
node_modules/

### dotenv ###
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

### Node ###
# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# testing
coverage

# production
build

# other
.prettierrc
*.mp4
*.pdf
*.doc